
h1,h2{
    color: orange;
}
div > p{
    color: blue;
}
div li{
    display: inline-block;
    background-color: aliceblue;
    position: relative; /*this will push it down from ancestor*/
    top:60px;
    left:100px;
    height: 100px;
    width: 100px;
    z-index: 50;



}
.openingmsg{
    display: block;
    position: relative;
    top:50px;
    left:50px;
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    z-index: 20;
    padding{
        color: brown;
        height: 20px;
        width: 20px;
    }

    

    
}
.secondp{
    display:block;
    position:absolute;
    background-color: yellow;
    height: 200px;
    width: 200px;
    z-index: 50;
}

.thirdp{
    display:block;
    position:fixed;
    top: 50px;
    right: 50px;
    background-color: rgb(214, 60, 214);
    height: 200px;
    width: 200px;
    z-index: 50;
}