

/* ATTRIBUTE SELECTOR - select elements with certain attribute values*/

h1[draggable]{
    font-style: normal;
    font-size: 40pt;
}

/* ELEMENT SELECTOR - apply to all elements with the tag selected*/
div li{
    color: rgb(250, 33, 178);
    font-weight: bold;
}
h1{
    color:black;
}
img{
    position: relative;
    background-position: center;
}

/* UNIVERSAL SELECTOR - select all regardless of CSS styling*/
*{
    font-style:bold;
    background-color:white;
    font-family: 'Josefin Sans', sans-serif;
}

/* ID SELECTOR - for one unique element per file*/

#bigidea{
    color:rgb(224, 71, 166);
}

/* CLASS SELECTOR - group elements*/
.headerimg{
    max-width: 20px;
}