

/* ATTRIBUTE SELECTOR - select elements with certain attribute values*/

h1[draggable]{
    font-style: normal;
    font-size: 40pt;
}
h1{
    color:rgb(233, 79, 187);
    font-size: 36pt;
}
/* ELEMENT SELECTOR - apply to all elements with the tag selected*/
div li{
    color: rgb(250, 33, 178);
    font-weight: bold;
}
img{
    position: relative;
    background-position: center;
}

/* UNIVERSAL SELECTOR - select all regardless of CSS styling*/
*{
    font-style:bold;
    background-color:white;
    font-family: 'Josefin Sans', sans-serif;
}

/* ID SELECTOR - for one unique element per file*/

#bigidea{
    color:rgb(224, 71, 166);
}

/* CLASS SELECTOR - group elements*/
.headerimg{
    max-width: 20px;
}

/* chain selectors to pick specific elements with header and other attributes without spaces like h1#pink.class{ css code here}
 choose styling with parent child like "selector > selector" and ancestor and descendant by selector selector"
 combine combiners like p > li.class --> which looks for any li with a specific class under a p */
 

 