
*{
    background: red;
}
img{
    size: 200px;
}
h1{
    color:pink;
}

.colortitle{
    font-weight: normal;
}


/*text colors*/
#red{
    color:red;
}
#blue{
    color:blue;
}
#orange{
    color:orange;
}
#green{
    color:green;
}
#yellow{
    color:rgb(151, 151, 1);
}


